@page "/"

<PageTitle>Home</PageTitle>

<h1>Football Updates</h1>

You will be able to view all Premier league teams,
View their squads and be able to see all the matches that are on around the
World today.
